<div class="box box-default">
	<div class="box-header with-border">
		<h3 class="box-title">Contatos</h3>

	</div>
	<!-- /.box-header -->

	<div class="box-body">

		<div class="form-group col-md-12">
			<div class="alert alert-success">Dados removidos com sucesso!</div>
			<div class="alert alert-danger">Ocorreu um erro, tente novamente</div>
		</div>

		<div class="row">

			<div class="col-md-6">

				<div class="form-group col-md-12">
					<table class="table table-striped">

						<thead>
						<tr>
							<td>Nome</td>
							<td>Add</td>
							<td>Del</td>
						</tr>
						</thead>

						<tbody>

						<tr>
							<td>Naturafrig Alimentos</td>
							<td style="width:32px;max-width:32px;"><a href="javascript:;" class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
							<td style="width:32px;max-width:32px; padding-left:5px"><a href="javascript:;" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
						</tr>

						<tr>
							<td>Alimentos Del Mundo</td>
							<td style="width:32px;max-width:32px;"><a href="javascript:;" class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
							<td style="width:32px;max-width:32px; padding-left:5px"><a href="javascript:;" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
						</tr>

						</tbody>
					</table>

				</div>

			</div>

			<div class="col-md-6">

				<div class="form-group col-md-12">
				<table class="table table-striped">
					<thead>

						<tr class="active">
							<td colspan="2"><strong>Nome</strong></td>
							<td><strong>Email</strong></td>
							<td><strong>Departamento</strong></td>
						</tr>

					</thead>

					<tbody>
						<tr>
							<td colspan="2">Fernando Vicente</td>
							<td>fernando.vicente@agenciaativa.com.br</td>
							<td>Web</td>
						</tr>

					</tbody>

					<thead>

					<tr class="active">
						<td colspan="4"><strong>Mensagem</strong></td>
					</tr>

					</thead>

					<tbody>
					<tr>
						<td colspan="4">mensagem de teste para ingaflex</td>
					</tr>

					</tbody>

				</table>
				</div>

			</div>

		</div>
	</div>
</div>