<!-- Main row -->
<div class="row">
	<div class="col-md-12">
		<form role="form">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">
						Cadastrar E-mails
					</h3>
				</div>
				<div class="box-body pad">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="email_departamento">E-mail departamento</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email_departamento" name="email_departamento" class="form-control" placeholder="E-mail departamento">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-save"></i>&nbsp;&nbsp;Salvar
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- /.row -->