<div class="box box-default">
	<div class="box-header with-border">
		<h3 class="box-title">Clientes</h3>

	</div>
	<!-- /.box-header -->

	<div class="box-body">

		<div class="form-group col-md-12">
			<div class="alert alert-success">Dados removidos com sucesso!</div>
			<div class="alert alert-danger">Ocorreu um erro, tente novamente</div>
		</div>

		<div class="row">

			<div class="col-md-6">

				<div class="form-group col-md-12">
					<table class="table table-striped">

						<thead>
						<tr>
							<td>Nome</td>
							<td>Add</td>
							<td>Del</td>
						</tr>
						</thead>

						<tbody>

						<tr>
							<td>Naturafrig Alimentos</td>
							<td style="width:32px;max-width:32px;"><a href="javascript:;" class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
							<td style="width:32px;max-width:32px; padding-left:5px"><a href="javascript:;" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
						</tr>

						<tr>
							<td>Alimentos Del Mundo</td>
							<td style="width:32px;max-width:32px;"><a href="javascript:;" class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
							<td style="width:32px;max-width:32px; padding-left:5px"><a href="javascript:;" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
						</tr>

						</tbody>
					</table>

				</div>

			</div>

			<div class="col-md-6">

				<div class="form-group col-md-12">
				<table class="table table-striped">
					<thead>

						<tr class="active">
							<td colspan="2"><strong>Tipo de Serviço</strong></td>
							<td><strong>Formato</strong></td>
							<td><strong>Subtrato</strong></td>
						</tr>

					</thead>

					<tbody>
						<tr>
							<td colspan="2">teste Tipo de Serviço</td>
							<td>teste Formato</td>
							<td>teste Subtrato</td>
						</tr>

					</tbody>

					<thead>

					<tr class="active">
						<td><strong>Quantidade</strong></td>
						<td><strong>Cores</strong></td>
						<td><strong>Laminação</strong></td>
						<td><strong>Acabamento</strong></td>
					</tr>

					</thead>

					<tbody>
					<tr>
						<td>teste Quantidade</td>
						<td>teste Cores</td>
						<td>teste Laminação</td>
						<td>teste Acabamento</td>
					</tr>

					</tbody>

					<thead>

					<tr class="active">
						<td colspan="2"><strong>Largura</strong></td>
						<td colspan="2"><strong>Comprimento</strong></td>
					</tr>

					</thead>

					<tbody>
					<tr>
						<td colspan="2">1.22m</td>
						<td colspan="2">0.80m</td>
					</tr>

					</tbody>

					<thead>

					<tr class="active">
						<td colspan="2"><strong>Empresa</strong></td>
						<td colspan="2"><strong>Nome</strong></td>
					</tr>

					</thead>

					<tbody>
					<tr>
						<td colspan="2">Agência Ativa de Publicidade</td>
						<td colspan="2">Fernando Vicente</td>
					</tr>

					</tbody>

					<thead>

					<tr class="active">
						<td><strong>Email</strong></td>
						<td><strong>Telefone</strong></td>
						<td><strong>Cidade</strong></td>
						<td><strong>UF</strong></td>
					</tr>

					</thead>

					<tbody>
					<tr>
						<td>teste@teste.com.br</td>
						<td>(18) 3333-3333</td>
						<td>Presidente Prudente</td>
						<td>SP</td>
					</tr>

					</tbody>

					<thead>

					<tr class="active">
						<td colspan="4"><strong>Mensagem</strong></td>
					</tr>

					</thead>

					<tbody>
					<tr>
						<td colspan="4">teste@teste.com.br</td>
					</tr>

					<thead>

					<tr class="active">
						<td colspan="4"><strong>Arquivo</strong></td>
					</tr>

					</thead>

					<tbody>
					<tr>
						<td colspan="4">imagem.jpg</td>
					</tr>

					</tbody>

				</table>
				</div>

			</div>

		</div>
	</div>
</div>